body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
	box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3)
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(left, #96A6BF, #63738C);
	box-shadow: inset 0 0 1px 1px #5C6670;
}

body::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(left, #8391A6, #536175);
}

.button-link {
	color: var(--bs-blue);
	font-weight: 600;
	border: 0;
	background-color: transparent;
	padding: 0;
	outline: none;
	box-shadow: none;
}

.button-link:hover {
	color: #3180fc;
	text-decoration: underline;
}

.button-theme {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	color: var(--bs-white) !important;
	border: 1px solid transparent;
	border-radius: 2px;
	gap: 5px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.925em;
	padding: 4px 10px;
	font-weight: 500;
	transition: var(--transition-default);
	height: 32px;
	background-color: var(--bg-1);
	background-image: -moz-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -ms-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -o-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--bg-1)), color-stop(100%, var(--bg-2)));
	background-image: -webkit-linear-gradient(top, var(--bg-1), var(--bg-2));
}

.button-theme.button-theme_light {
	--bg-1: #eeeeee;
	--bg-2: #cccccc;
	color: var(--bs-black) !important;
	text-shadow: 0 1px 0 var(--bg-1);
	border-color: #aaaaaa;
}

.button-theme.button-theme_light:hover {
	background-position: center -30px;
}

.button-theme.button-theme_primary {
	--bg-1: var(--primary-color);
	--bg-2: var(--primary-hover);
	color: var(--bs-white) !important;
}

.button-theme.button-theme_primary:hover {
	background-position: center -30px;
}

.button-theme.button-theme_secondary {
	--bg-1: var(--secondary-color);
	--bg-2: var(--secondary-hover);
	color: var(--bs-white) !important;
}

.button-theme.button-theme_secondary:hover {
	background-position: center -30px;
}

.button-theme img {
	width: 16px;
	height: 16px;
}

.header {
	-webkit-box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.05), 0px 8px 24px -4px rgba(24, 39, 75, 0.01);
	box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.05), 0px 8px 24px -4px rgba(24, 39, 75, 0.01);
	background-color: var(--bs-white);
}

.header .header-navigation {
	position: relative;
	z-index: 2;
	margin-left: calc(var(--bs-gutter-x) * -0.25);
}

.header .header-navigation > ul {
	position: relative;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	align-items: center;
}

.header .header-navigation > ul > li {
	flex-shrink: 0;
}

.header .header-navigation > ul > li > a {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--bs-black);
	font-weight: 500;
	padding: 8px;
	white-space: nowrap;
	font-size: 0.925em;
}

.header .header-navigation > ul > li > a > span {
	flex-shrink: 0;
}

.header .header-navigation > ul > li > a > span > img {
	width: 20px;
	height: 20px;
}

.header .header-navigation > ul > li > a:hover {
	background-color: rgba(var(--primary-rgb), 0.075);
	color: var(--primary-color);
}

.header .header-dropdown .link-default {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 0.925em;
}

.header .header-dropdown .link-default img {
	height: 20px;
}

.header .header-dropdown .dropdown-menu {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: rgba(0, 0, 0, .176);
	font-size: 0.925em;
}

.header .header-dropdown .dropdown-menu .dropdown-item {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: var(--bs-white);
	color: var(--bs-black);
}

.header .header-dropdown .dropdown-menu .dropdown-item:hover {
	background-color: rgba(var(--primary-rgb), 0.075);
	color: var(--primary-color);
}

.header .header-dropdown .dropdown-menu .dropdown-item img {
	height: 16px;
}

.section-buttons {
	padding: 10px 0;
	background-color: #015E70;
}

.theme-form {
	display: flex;
	align-items: center;
	gap: 5px;
}

.theme-label {
	font-size: 0.925em;
	color: var(--bs-black);
	font-weight: 500;
	width: 100px;
	flex-shrink: 0;
}

.theme-input {
	border: 1px solid var(--bs-gray-200);
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.925em;
	padding: 4px 10px;
	font-weight: 500;
	transition: var(--transition-default);
	height: 32px;
}

.theme-input::placeholder {
	opacity: .7;
}

.theme-input:disabled {
	background-color: #efefef;
	cursor: not-allowed;
}

.theme-input.form-select {
	padding-right: 30px;
	background-position: right 5px center;
}

.theme-input ~ .select2 {
	width: 100% !important;
}

.theme-input ~ .select2-container .select2-selection--single {
	border: 1px solid var(--bs-gray-200);
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.925em;
	padding: 4px 10px;
	font-weight: 500;
	transition: var(--transition-default);
	height: 32px;
}

.theme-input ~ .select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 22px;
	color: var(--bs-black);
	padding: 0 10px 0 0;
}

.theme-input ~ .select2-container .select2-selection--single .select2-selection__arrow {
	background-image: url(../images/icons/icon-arrow-down.svg);
	background-repeat: no-repeat;
	background-position: right 5px center;
	background-size: 16px 12px;
}

.theme-input ~ .select2-container .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.theme-input ~ .select2-container .select2-dropdown {
	border: 1px solid var(--bs-gray-200);
	font-size: 0.925em;
}

.theme-input ~ .select2-container .select2-search--dropdown .select2-search__field {
	border: 1px solid var(--bs-gray-200);
	border-radius: 2px;
}

.theme-input ~ .select2-container .select2-dropdown .select2-results > .select2-results__options {
	max-height: 350px;
}

.theme-input ~ .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar {
	width: 5px;
}

.theme-input ~ .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-track {
	background: #fff;
}

.theme-input ~ .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
	background: #acacac;
}

.theme-input ~ .select2-container .select2-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
	background: #7b7b7b;
}

.theme-input ~ .select2-container.select2-container--disabled .select2-selection--single {
	background-color: #efefef;
	cursor: not-allowed;
}

.theme-form_icon {
	position: relative;
}

.theme-form_icon:before {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	z-index: 2;
	pointer-events: none;
}

.theme-form_icon.theme-form_calendar:before {
	content: "\f073";
}

.theme-form .theme-form_groups {
	display: flex;
	align-items: center;
	gap: 10px;
}

.theme-form .theme-form_groups .theme-form_groups__icon {
	flex-shrink: 0;
}

.theme-form .theme-form_groups .theme-form_groups__icon img {
	max-width: 100%;
	width: auto;
	height: 24px;
}

.theme-checkbox > span {
	position: relative;
	display: flex;
	gap: 8px;
	color: var(--bs-black);
	font-weight: 500;
	font-size: 0.925em;
	cursor: pointer;
}

.theme-checkbox > span:before {
	flex-shrink: 0;
	width: 18px;
	height: 18px;
	content: "";
	overflow: hidden;
	border-radius: 2px;
	background-color: var(--bs-white);
	border: 1px solid var(--bs-gray-300);
	background-image: url(../images/icons/icon-check.svg);
	background-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-size cubic-bezier(.5, 0, .5, 2) .3s, background-color .3s;
}

.theme-checkbox > input[type=radio] + span:before {
	border-radius: 50%;
}

.theme-checkbox > input:checked + span:before {
	background-color: #4BAE4F;
	background-size: 100%;
	border-color: #4BAE4F;
}

.section-main {
	padding: 10px 0;
}

.box-item {
	background-color: var(--bs-white);
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #f3f3f3;
}

.box-item .box-item_title {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-black);
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--bs-gray-200);
}

.section-table {
	background-color: var(--bs-white);
	border-radius: 4px;
	border: 1px solid #f3f3f3;
}

.theme-table .table {
	font-size: 0.925em;
	margin-bottom: 0;
}

.theme-table .table thead tr th {
	border-color: #cccccc;
	--bg-1: #eeeeee;
	--bg-2: #cccccc;
	background-color: var(--bg-1);
	background-image: -moz-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -ms-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -o-linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: linear-gradient(top, var(--bg-1), var(--bg-2));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--bg-1)), color-stop(100%, var(--bg-2)));
	background-image: -webkit-linear-gradient(top, var(--bg-1), var(--bg-2));
	white-space: nowrap;
}

.theme-table .table tr > * {
	min-width: 80px;
}

.theme-table .theme-table_image img {
	width: 20px;
	height: 20px;
}