.button-link {
	color: var(--bs-blue);
	font-weight: 600;
	border: 0;
	background-color: transparent;
	padding: 0;
	outline: none;
	box-shadow: none;
}

.button-link:hover {
	color: #3180fc;
	text-decoration: underline;
}

.button-theme {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	color: var(--bs-white) !important;
	border: 1px solid transparent;
	border-radius: 2px;
	gap: 5px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.925em;
	padding: 4px 10px;
	font-weight: 500;
	transition: var(--transition-default);
}

.button-theme.button-theme_light {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	color: var(--bs-black) !important;
	text-shadow: 0 1px 0 #eee;
}

.button-theme.button-theme_light:hover {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	cursor: pointer;
	text-shadow: 0 1px 0 #ddd;
}

.button-theme.button-theme_primary {
	background-color: var(--primary-color);
	color: var(--bs-white) !important;
}

.button-theme.button-theme_primary:hover {
	background-color: var(--primary-hover);
	color: var(--bs-white) !important;
}

.button-theme.button-theme_secondary {
	background-color: var(--secondary-color);
	color: var(--bs-white) !important;
}

.button-theme.button-theme_secondary:hover {
	background-color: var(--secondary-hover);
	color: var(--bs-white) !important;
}


.header {
	-webkit-box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.05), 0px 8px 24px -4px rgba(24, 39, 75, 0.01);
	box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.05), 0px 8px 24px -4px rgba(24, 39, 75, 0.01);
	background-color: var(--bs-white);
}

.header .header-navigation {
	position: relative;
	z-index: 2;
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.header .header-navigation > ul {
	position: relative;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	align-items: center;
}

.header .header-navigation > ul > li {
	flex-shrink: 0;
}

.header .header-navigation > ul > li > a {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--bs-black);
	font-weight: 500;
	padding: 8px;
	white-space: nowrap;
	font-size: 0.925em;
}

.header .header-navigation > ul > li > a > span {
	flex-shrink: 0;
}

.header .header-navigation > ul > li > a > span > img {
	width: 20px;
	height: 20px;
}

.header .header-navigation > ul > li > a:hover {
	background-color: rgba(var(--primary-rgb), 0.075);
	color: var(--primary-color);
}

.header .header-dropdown .link-default {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 0.925em;
}

.header .header-dropdown .link-default img {
	height: 20px;
}

.header .header-dropdown .dropdown-menu {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border: rgba(0, 0, 0, .176);
	font-size: 0.925em;
}

.header .header-dropdown .dropdown-menu .dropdown-item {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: var(--bs-white);
	color: var(--bs-black);
}

.header .header-dropdown .dropdown-menu .dropdown-item:hover {
	background-color: rgba(var(--primary-rgb), 0.075);
	color: var(--primary-color);
}

.header .header-dropdown .dropdown-menu .dropdown-item img {
	height: 16px;
}

.section-buttons {
	padding: 10px 0;
	background-color: #015E70;
}